
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">


{% extends "base.html" %}
{% block title %}User Statistics{% endblock %}

{% block content%}

<h2>Displaying User Statistics for {{user.username}}</h2>
<br>
<div class="well">
<h4> Integer Answers </h4>

<b>Percentage Correct overall: </b> {{percentage}}
<br>
<b>Correct Answers: </b> {{correct_ints}}
<b>Incorrect Answers: </b> {{incorrect_ints}}
<br>
<br>
<br>

<b>Mastery Progress:</b>
<h6><small>Progressed is based on a 90% accuracy benchmark</small></h6>
<br>
<br>
<div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="20"
  aria-valuemin="0" aria-valuemax="100" style="width:{{progress}}%">
    <span class="sr-only">{{percentage}}% Complete</span>
  </div>
</div>

</div>

{%endblock%}