{% load static %}

<!DOCTYPE html>
<html lang="en">
<!-- base file -->
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>

    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

<!--  jquery -->
<script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>


<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="{% static 'explore/css/style.css' %}" />

    {% block extrahead %}{% endblock %}

</head>



<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="">Stacklearn</a>
    </div>

    <div class="collapse navbar-collapse" id="myNavbar">

      <ul class="nav navbar-nav">
        <li><a href="">Stacklearn</a></li>
        <li><a href="">Progress</a></li>


      </ul>
      <ul class="nav navbar-nav navbar-right">

        {% if not request.user.is_authenticated %}
             
            <li><a href=""><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        {% else %}
            <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        <!-- ACCESS CONTROLS CODE -->

        {% endif %}

      </ul>
    </div>
  </div>
</nav>


{% if messages %}
<div class="alert alert-warning alert-dismissible" role="alert">
<ul class=flashes>
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
    </ul>
  </div>
{% endif %}

<br>
  <div id="content" class="container">
    {% block content %}{% endblock %}
  </div>

  <div id="footer">
        {% block footer %}
        <br><br>
<div align="center">
        &copy; Copyright 2018 | v0.5</div>
        {% endblock %}
    </div>
    
</body>
</html>
